calibration/ 
foto_cam/
start.jpg

find_edge/**/*.png
find_edge/**/*.jpg
find_edge/__pycache__/


pictures/*.png
pictures/*.jpg
pictures/number2/*.png
pictures/number2/*.jpg

pictures/number3/*.png
pictures/number3/*.jpg

pictures/old/
log/
fe_v2/

/*.jpg

.idea/
__pycache__/
test.py
